@import '../reset.scss';


@media (max-width: 1440px) {
  .container{
    width: 90%;
  }

}

@media (max-width: 1200px) {

}

@media (max-width: 1100px) {

}

@media (max-width: 1024px) {

}

@media (max-width: 992px) {

}

@media (max-width: 820px) {

}

@media (max-width: 768px) {

  #header {
    .header {
      padding: 10px 0 !important;

      &__nav, &__sign-in {
        display: none !important;
      }

      &__hamburger {
        display: flex !important;
        position: relative;
        padding: 15px;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background: transparent;
        border: none;
        outline: none;
        border-radius: 1px;
        margin-right: 5px;
        z-index: 1001;

        .line {
          position: absolute;
          width: 21px;
          height: 21px;
          background-color: #d9d4d4;
          border-radius: 3px;
          transition: transform .25s, opacity .35s;
        }

        .line-top {
          transform: translateY(-7px);
          height: 2px;
        }

        .line-middle {
          height: 2px;
        }

        .line-bottom {
          transform: translateY(7px);
          height: 2px;
        }
      }
    }

    .burger-menu {
      display: block !important;
    }
  }

}

@media (max-width: 576px) {

}

@media (max-width: 414px) {

}

@media (max-width: 375px) {

}
