@import '../reset.scss';
@import './media-regstr.scss';

// Регистрация


#sing-up {

  padding: 240px 0;

  .sing-up {
    display: flex;
    justify-content: center;

    &__block {
      width: 40%;
      background: rgba(255, 255, 255, 0.3);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(4px);
      border-radius: 10px;
      padding: 30px 70px;

      h1 {
        font-weight: 600;
        font-size: 24px;
        color: #FFFFFF;
        margin-bottom: 25px;
      }

      &--general {
        h2 {
          font-weight: 500;
          font-size: 16px;
          color: #FFFFFF;
          margin-bottom: 10px;
        }

        input {
          width: 95%;
          height: 40px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          color: #FFFFFF;
          padding-left: 15px;
          outline: none;
          font-size: 14px;
          margin-bottom: 25px;
        }

      }

      h2 {
        font-weight: 500;
        font-size: 16px;
        color: #FFFFFF;
        margin-bottom: 5px;
      }

      &--pay {
        display: flex;
        margin-bottom: 8px;

        div {
          display: flex;
          padding-right: 15px;

          input {
            margin-right: 5px;
            border: 1px solid #FFFFFF;
            border-radius: 50%;
            background: transparent;
            width: 20px;
            height: 20px;
          }
        }
      }

      &--gen {
        display: flex;
        margin-bottom: 25px;

        &__card {
          h2 {

          }

          input {
            padding: 8px 10px;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            background: transparent;
            margin-right: 5px;
          }

          .input {
            width: 35px;
            padding: 8px 10px;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            background: transparent;
            margin: 0 10px;
          }
        }
      }

      &--packages {
        display: flex;
        justify-content: space-between;
        margin-bottom: 30px;

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
          margin-bottom: 5px;
        }

        &__number1 {
          width: 41%;
          background: transparent;
          border: 1px solid #FFFFFF;
          backdrop-filter: blur(6px);
          border-radius: 10px;
          padding: 20px;

          &--radio {
            display: flex;
            padding-top: 8px;

            input {
              margin-right: 5px;
              width: 20px;
              height: 20px;
            }
          }

          &--titles {
            display: flex;
            padding-top: 15px;


            h2 {
              margin-left: 5px;
            }


          }

          h5 {
            font-weight: 500;
            font-size: 28px;
            margin-bottom: 10px;
          }

          .center {
            display: flex;
            justify-content: center;
          }

          button {
            width: 90%;
            height: 40px;
            border: 1px solid #FFFFFF;
            border-radius: 10px;
            font-size: 20px;
            color: #FFFFFF;
            background: transparent;
            transition: .3s;

            &:hover{
              transform: scale(1.1);
              background: #FFFFFF;
              color: #6A6FED;
              cursor: pointer;
            }
          }

          .flex {
            display: flex;
            align-items: center;
            padding-top: 40px;

            h1 {
              font-size: 18px;
              padding-left: 10px;
            }

          }
        }

      }

      &--pay-btn{
        display: flex;
        justify-content: center;
        button{
          background: #FFFFFF;
          border-radius: 10px;
          border: none;
          outline: none;
          cursor: pointer;
          width: 90%;
          height: 40px;
          font-weight: 500;
          font-size: 20px;
          color: #6A6FED;
          transition: .3s;
          &:hover{
            transform: scale(1.1);
            background: transparent;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
          }
        }

      }

      &--ready{
        display: flex;
        align-items: center;
        justify-content: start;
        padding-top: 30px;

        h1{
          font-weight: 300;
          font-size: 16px;
          color: #FFFFFF;
          padding-top: 25px;
          padding-left: 10px;
        }
        input{
          width: 20px;
          height: 20px;
          border: 1px solid #FFFFFF;
          border-radius: 3px;
          background: transparent;
          padding-bottom: 10px;
        }
      }


    }
  }
}
.center{
  display: flex;
  flex-direction: column;
  padding-top: 120%;
}