@import '../reset.scss';
@import './media-our-course.scss';

//Наши курсы


#new {
  padding: 50px 0;

  .new--general {
    padding-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;

    &__block {
      width: 1300px;
      height: 550px;
      background: rgba(255, 255, 255, 0.1);
      border: 1px solid #FFFFFF;
      backdrop-filter: blur(14px);
      border-radius: 10px;
      display: flex;
      justify-content: space-around;
      align-items: center;

      &--text {
        h1 {
          font-weight: 600;
          font-size: 40px;
          color: #FFFFFF;
          padding-bottom: 30px;
        }

        p {
          width: 496px;
          font-weight: 400;
          font-size: 24px;
          color: #FFFFFF;
          padding-bottom: 30px;
        }

        &__btn {
          &--one {
            margin-right: 25px;
            width: 176px;
            height: 44px;
            background: #FFFFFF;
            border-radius: 10px;
            font-weight: 400;
            font-size: 16px;
            color: #595FEB;
            border: none;
            cursor: pointer;
            transition: .4s;

            &:hover {
              background: #595FEB;
              color: #FFFFFF;
              border: 2px solid white;
            }
          }

          &--two {
            width: 94px;
            height: 44px;
            border: 1px solid #FFFFFF;
            backdrop-filter: blur(24px);
            background: transparent;
            border-radius: 10px;
            font-weight: 400;
            font-size: 16px;
            color: #FFFFFF;
            cursor: pointer;
            transition: .4s;

            &:hover {
              background: #595FEB;

            }
          }
        }

      }

    }

  }

}

#courses {

  padding: 50px 0;

  .courses--general {

    h1 {
      font-weight: 600;
      font-size: 40px;
      color: #FFFFFF;
    }

    &__block {
      padding: 40px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &--one {
        margin: 0 10px;
        width: 400px;
        height: 449px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-left: 10px;
        flex-direction: column;

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
        }

        &__btn {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 20px 0;

          h3 {
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            padding-right: 50px;
          }

          div {
            button {
              margin: 0 7px;
              width: 64px;
              height: 30px;
              background: rgba(255, 255, 255, 0.1);
              border: 0.5px solid #FFFFFF;
              border-radius: 5px;
              font-weight: 400;
              font-size: 16px;
              color: #FFFFFF;
              cursor: pointer;
              transition: .4s;

              &:hover {
                background: transparent;
                color: black;
                border: 2px solid black;
              }
            }
          }

        }

        h5 {
          padding: 10px 0 0 0;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }

      }

    }

    .courses--general__btn {
      display: flex;
      justify-content: center;

      button {
        width: 201px;
        height: 48px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        transition: .4s;

        &:hover {
          background: crimson;
          color: black;
          border: 2px solid;
        }
      }
    }

  }
}

#master {

  padding: 50px 0;

  .master--general {

    h1 {
      font-weight: 600;
      font-size: 40px;
      color: #FFFFFF;
    }

    &__block {
      padding: 40px 0;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      &--one {
        margin: 20px 5px;
        width: 370px;
        height: 449px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-left: 10px;
        flex-direction: column;

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
        }

        &__btn {
          display: flex;
          justify-content: space-around;
          align-items: center;
          padding: 20px 0;

          h3 {
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
            padding-right: 50px;
          }

          div {
            button {
              margin: 0 7px;
              width: 64px;
              height: 30px;
              background: rgba(255, 255, 255, 0.1);
              border: 0.5px solid #FFFFFF;
              border-radius: 5px;
              font-weight: 400;
              font-size: 16px;
              color: #FFFFFF;
              cursor: pointer;
              transition: .4s;

              &:hover {
                background: transparent;
                color: black;
                border: 2px solid black;
              }
            }
          }

        }

        h5 {
          padding: 10px 0 0 0;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
        }

      }

    }

    &__btn {
      display: flex;
      justify-content: center;

      button {
        width: 268px;
        height: 48px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        cursor: pointer;
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        transition: .4s;

        &:hover {
          background: crimson;
          color: black;
          border: 2px solid;
        }
      }
    }

  }
}

#reviews {

  padding: 50px 0;

  .reviews--general {

    h1 {
      font-weight: 600;
      font-size: 40px;
      color: #FFFFFF;
    }

    &__swiper {
      display: flex;
      justify-content: center;


      div {
        width: 856px;
        height: 224px;
        background: rgba(255, 255, 255, 0.1);
        //border: 1px solid #FFFFFF;
        backdrop-filter: blur(12px);
        border-radius: 10px;
      }

      .slick-list {
        overflow: hidden;

        .slick-track {
          display: flex;
          width: 97%;
        }
      }

      &--block {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;

        p {
          width: 796px;
          font-weight: 400;
          font-size: 20px;
          line-height: 24px;
          color: #FFFFFF;
        }

        nav {
          display: flex;
          justify-content: center;
          align-items: center;

          h1 {
            font-weight: 500;
            font-size: 24px;
            color: #FFFFFF;
            padding: 0 20px;
          }

          input {
            color: white;
            font-size: 18px;
            background: transparent;
            width: 350px;
            border: none;
            outline: none;
            border-bottom: 2px solid white;
          }


        }

      }

    }

    &__block {

      padding: 60px 0;
      display: flex;
      justify-content: space-around;
      align-items: start;

      &--left {

        h1 {
          font-weight: 600;
          font-size: 40px;
          color: #FFFFFF;
          padding-bottom: 30px;
        }

        p {
          width: 320px;
          height: 120px;
          font-weight: 400;
          font-size: 20px;
          color: #FFFFFF;
        }

      }

      &--right {

        &__one {
          padding: 20px 10px 30px 10px;
          background: rgba(255, 255, 255, 0.1);
          border: 1px solid #FFFFFF;
          backdrop-filter: blur(24px);
          border-radius: 10px;
          overflow: hidden;

          div {

            padding: 7px 0;

            h1 {
              font-size: 20px;
              line-height: 24px;
            }

            input {
              padding: 0 10px;
              font-size: 14px;
              font-weight: 400;
              background: transparent;
              color: white;
              width: 495px;
              height: 40px;
              border: 1px solid #FFFFFF;
              border-radius: 10px;
              outline: none;
            }

            textarea {
              padding: 10px 10px;
              font-size: 14px;
              font-weight: 400;
              background: transparent;
              color: white;
              border: 1px solid #FFFFFF;
              border-radius: 10px;
            }


          }
        }

        p {
          padding: 8px 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: rgba(255, 255, 255, 0.41);

        }

      }

    }

  }

}


