@import '../reset.scss';
@import './media-our-course.scss';

//Наши курсы

#articles {

  padding: 30px 0;

  .articles--general {

    padding-top: 200px;

    &__text{
      h5{
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 15px;
      }
      h1{
        font-size: 40px;
        line-height: 49px;
      }
    }

    &__btn {
      display: flex;
      padding: 30px 0 30px 0;

      div {
        padding: 0 8px;

        button {
          padding: 5px 17px;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
          gap: 10px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          cursor: pointer;
          transition: .4s;

          &:hover {

            background: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
            color: #595FEB;

          }

        }

      }
    }

    &__block {

      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 30px 0;

      &--one {
        //width: 25%;
        margin: 10px 0;
        padding: 10px 20px;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid #FFFFFF;
        backdrop-filter: blur(15px);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;

        h1 {
          font-weight: 500;
          font-size: 24px;
          color: #FFFFFF;
        }

        &__btn {

          display: flex;
          align-items: center;
          padding: 10px 0;

          h2 {
            font-weight: 600;
            font-size: 16px;
            color: #FFFFFF;
          }

          div {
            padding-left: 30px;

            button {
              margin: 0 8px;
              padding: 5px;
              background: rgba(255, 255, 255, 0.1);
              border: 0.5px solid #FFFFFF;
              border-radius: 5px;
              font-weight: 400;
              font-size: 16px;
              color: #FFFFFF;
              cursor: pointer;
              transition: .4s;

              &:hover {
                border: 1px solid #000000;
                color: #000000;
                background: transparent;
              }
            }
          }

        }

        &__line {
          margin: 10px 0 0 0;
          width: 95%;
          border: 1px solid #FFFFFF;
        }

        &__text {
          display: flex;
          align-items: center;

          h4 {
            font-weight: 400;
            font-size: 16px;
            padding: 10px 10px 0 20px;
          }
        }

      }

    }

    &__footer{
      display: flex;
      padding: 30px 0 30px 0;

      div {
        padding: 0 8px;

        button {
          padding: 10px 15px;
          font-weight: 400;
          font-size: 16px;
          color: #FFFFFF;
          gap: 10px;
          border: 1px solid #FFFFFF;
          border-radius: 10px;
          background: transparent;
          cursor: pointer;
          transition: .4s;

          &:hover {

            background: #FFFFFF;
            font-weight: 400;
            font-size: 16px;
            color: #595FEB;

          }

        }

      }

    }

  }

}
